:root {
    --c1: #6b2398;
    --c2: #e8bceb;
    --dark: #333333;
    --light: #fff5fe;
  }
@font-face {
    font-family: montserrat;
    src: url(/fonts/Montserrat-Light.ttf);
    font-weight: 100;
}
@font-face {
    font-family: montserrat;
    src: url(/fonts/Montserrat-Medium.ttf);
    font-weight: 400;
}
@font-face {
    font-family: montserrat;
    src: url(/fonts/Montserrat-ExtraBold.ttf);
    font-weight: 900;
}
@font-face {
    font-family: montserrat;
    src: url(/fonts/Montserrat-LightItalic.ttf);
    font-style: italic;
    font-weight: 100;
}
html{background-color: var(--light);}
h1,h2,h3,h4,h5,h6,p,li,a,span,input,label,::placeholder {font-family: montserrat;}
h1 {font-size: 4rem; font-weight: 900; text-transform: uppercase;}
h2 {font-size: 3rem;}
h3 {font-size: 2.5rem;}
h4 {font-size: 2rem;}
h5 {font-size: 2rem; font-weight: 400;}
h6 {font-size: 1.5rem;}
p, ul, li {font-size: 1.5rem;}
p+p {padding-top:1rem;}
p, a, input, select, label, button, ::placeholder {
    filter: brightness(1) drop-shadow(0 0 0 rgba(0,0,0,0));
    transition-property: filter;
    transition-duration: .3s;
}
a {
    text-decoration: none;
    color: var(--c1);
}
a:hover, button:hover, #search-icon:hover {
    filter: brightness(.8);
    cursor: pointer;
}
header h1 {
    padding: 2rem;
    text-align: center;
}
nav ul {
    display: flex;
    justify-content: space-around;
    background-color: var(--c1);
}
nav li {
    padding: 1rem;
    color: var(--light);
}
#recipe-header p {text-transform: uppercase;}
#ingredients, #directions {
    border-bottom: .25rem dotted var(--c2);
}
#ingredients li {
    list-style: disc;
    margin-left:2rem;
}
#recipe section > * {padding:1rem;}
.listing {padding: 1rem;}
.listing a {
    font-size: 2.5rem;
}
.listing p {
    font-size: 1rem;
}